<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин Kivano.kg, Бишкек, Кыргызстан — низкие цены на товары с бесплатной доставкой в течении дня</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>Добро пожаловать на главную страницу!</h1>
    <p><a href="/swagger/" target="_blank">Перейти к Swagger документации</a></p>
    <p><a href="/admin/" target="_blank">Перейти в админку</a></p>
</body>
</html>
