# Исключаем виртуальное окружение
venv/
.venv/

# Файлы кэша и временные файлы
*.pyc
__pycache__/

# Конфиденциальные настройки и файлы с ключами
.env

# Файлы базы данных (если используешь SQLite)
db.sqlite3

# Файлы IDE
.idea/
.vscode/

# Статические файлы (если они сгенерированы Django)
staticfiles/
